.titoloAnimato{
    transform: scaleY(1);
    display: inline-block;
    transition: all 0.3s;
    transform-origin: bottom;
}

.titoloAnimato:hover{
    transform: scaleY(1.3);
    color: red;
}

.titoloBounce{
    transform-origin: bottom;
    text-align: center;
}
.titoloBounce:hover{
    color: red;
    animation: cresci 1s;
    animation-fill-mode: forwards;

}

@keyframes cresci{
    0% {
		transform: scaleY(1);
	}

	24% {
		transform: scaleY(1.6);
	}

	54% {
		transform: scaleY(1.3);
	}

	74% {
		transform: scaleY(1.5);
	}

	82% {
		transform: scaleY(1.3);
	}

	92% {
		transform: scaleY(1.4);
	}

	100% {
		transform: scaleY(1.3);
	}

}
